:root {
    --tm-border-radius: .5rem;
    --tm-box-shadow: 0px 2px 15px light-dark(hsla(0, 0%, 0%, .1), transparent);
    --tm-dismiss-icon-color: hsl(0, 0%, 65%);
    --tm-dismiss-icon-hover-color: hsl(0, 0%, 35%);
    --tm-font-family: "Geist Variable", system-ui;
    --tm-font-size: .9rem;
    --tm-gap: .5rem;
    --tm-padding-block: 1rem;
    --tm-padding-inline: 1.2rem;
    --tm-title-font-size: 1.175rem;
    --tm-z-remove: 1;
    --tm-z: 2;

    --tm-neutral-background-color: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 15%));
    --tm-neutral-border-color: light-dark(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1));
    --tm-neutral-border-hover-color: light-dark(hsla(0, 0%, 0%, .2), hsla(0, 0%, 100%, .2));
    --tm-neutral-text-color: light-dark(hsl(0, 0%, 20%), hsl(0, 0%, 90%));
    --tm-neutral-title-color: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));

    --tm-warn-background-color: hsl(35, 100%, 90%);
    --tm-warn-border-color: hsla(35, 50%, 35%, .1);
    --tm-warn-border-hover-color: hsla(35, 50%, 15%, .2);
    --tm-warn-text-color: hsl(35, 50%, 20%);
    --tm-warn-title-color: hsl(35, 65%, 15%);

    --tm-error-background-color: hsl(10, 100%, 90%);
    --tm-error-border-color: hsla(10, 50%, 10%, .1);
    --tm-error-border-hover-color: hsla(10, 50%, 15%, .2);
    --tm-error-text-color: hsl(10, 50%, 20%);
    --tm-error-title-color: hsl(10, 65%, 15%);

    --tm-success-background-color: hsl(150, 100%, 90%);
    --tm-success-border-color: hsla(150, 50%, 10%, .1);
    --tm-success-border-hover-color: hsla(150, 50%, 15%, .2);
    --tm-success-text-color: hsl(150, 50%, 20%);
    --tm-success-title-color: hsl(150, 65%, 15%);
}

.toast {
    --_bg: var(--tm-neutral-background-color);
    --_border-hover: var(--tm-neutral-border-hover-color);
    --_border: var(--tm-neutral-border-color);
    --_delay: 0ms;
    --_duration: 2000ms;
    --_text: var(--tm-neutral-text-color);
    --_title: var(--tm-neutral-title-color);
    --_z: var(--tm-z);

    align-items: center;
    animation: showToast 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background: var(--_bg);
    border-radius: var(--tm-border-radius);
    border: 1px solid var(--_border);
    box-shadow: var(--tm-box-shadow);
    color: var(--_text);
    column-gap: var(--tm-gap);
    cursor: default;
    display: grid;
    font-family: var(--tm-font-family);
    font-size: var(--tm-font-size);
    grid-template-columns: [content-start] 1fr [content-end button-start] max-content [button-end];
    left: 16px;
    max-width: min(100% - 32px, 40ch);
    overflow: hidden;
    padding: var(--tm-padding-block) var(--tm-padding-block) var(--tm-padding-block) var(--tm-padding-inline);
    position: fixed;
    top: var(--_top);
    transition: opacity 200ms ease, top 300ms cubic-bezier(0.19, 1, 0.22, 1) var(--_delay), transform 300ms cubic-bezier(0.19, 1, 0.22, 1), border 200ms ease;

    &.warn {
        --_bg: var(--tm-warn-background-color);
        --_border-hover: var(--tm-warn-border-hover-color);
        --_border: var(--tm-warn-border-color);
        --_text: var(--tm-warn-text-color);
        --_title: var(--tm-warn-title-color);
    }

    &.error {
        --_bg: var(--tm-error-background-color);
        --_border-hover: var(--tm-error-border-hover-color);
        --_border: var(--tm-error-border-color);
        --_text: var(--tm-error-text-color);
        --_title: var(--tm-error-title-color);
    }

    &.success {
        --_bg: var(--tm-success-background-color);
        --_border-hover: var(--tm-success-border-hover-color);
        --_border: var(--tm-success-border-color);
        --_text: var(--tm-success-text-color);
        --_title: var(--tm-success-title-color);
    }

    &:has(.toast-title) {
        grid-template-rows: [content-start button-start] 1fr [button-end] max-content [content-end];

        button {
            grid-row: button;
        }
    }

    @media (pointer: fine) {

        &:hover,
        &:focus-within {
            border-color: var(--_border-hover);
        }

        &.has-listener {
            cursor: pointer;
        }
    }

    &.remove {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-150%);
        z-index: var(--tm-z-remove);
    }

    .toast-title,
    .toast-message {
        grid-column: content;
        margin: 0;
    }

    .toast-title {
        color: var(--_title);
        font-size: var(--tm-title-font-size);
        font-weight: 600;
        margin-bottom: .15em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    button.dismiss {
        align-self: start;
        background: transparent;
        border: 0;
        color: var(--tm-dismiss-icon-color);
        cursor: pointer;
        display: grid;
        grid-column: button;
        padding: 0px;
        transition: color 200ms ease;

        @media (pointer: fine) {
            &:hover {
                color: var(--tm-dismiss-icon-hover-color);
            }
        }

        svg {
            [fill] {
                fill: currentColor;
            }
        }
    }
}

@keyframes showToast {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes time {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}